# Read Csv

In [3]:
import pandas as pd
csv_1=pd.read_csv("C:\\Users\\Shristi\\OneDrive\\Desktop\\jupyter projects\\Python Pandas\\Downloaded Files\\industry.csv")
csv_1

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [4]:
csv_1=pd.read_csv("C:\\Users\\Shristi\\OneDrive\\Desktop\\jupyter projects\\Python Pandas\\Downloaded Files\\industry.csv",nrows=1)
csv_1

             Industry
0  Accounting/Finance

In [5]:
csv_2=pd.read_csv("C:\\Users\\Shristi\\OneDrive\\Desktop\\jupyter projects\\Python Pandas\\Downloaded Files\\customers-100.csv")
csv_2

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [11]:
csv_2=pd.read_csv("C:\\Users\\Shristi\\OneDrive\\Desktop\\jupyter projects\\Python Pandas\\Downloaded Files\\customers-100.csv",usecols=["Index","Customer Id"])
csv_2

    Index      Customer Id
0       1  DD37Cf93aecA6Dc
1       2  1Ef7b82A4CAAD10
2       3  6F94879bDAfE5a6
3       4  5Cef8BFA16c5e3c
4       5  053d585Ab6b3159
..    ...              ...
95     96  cb8E23e48d22Eae
96     97  CeD220bdAaCfaDf
97     98  28CDbC0dFe4b1Db
98     99  c23d1D9EE8DEB0A
99    100  2354a0E336A91A1

[100 rows x 2 columns]

In [12]:
csv_2=pd.read_csv("C:\\Users\\Shristi\\OneDrive\\Desktop\\jupyter projects\\Python Pandas\\Downloaded Files\\customers-100.csv",usecols=[1,5,6])
csv_2

        Customer Id               City                     Country
0   DD37Cf93aecA6Dc       East Leonard                       Chile
1   1Ef7b82A4CAAD10  East Jimmychester                    Djibouti
2   6F94879bDAfE5a6      Isabelborough         Antigua and Barbuda
3   5Cef8BFA16c5e3c         Bensonview          Dominican Republic
4   053d585Ab6b3159     West Priscilla  Slovakia (Slovak Republic)
..              ...                ...                         ...
95  cb8E23e48d22Eae       East Richard                      Guyana
96  CeD220bdAaCfaDf       New Bradview                   Sri Lanka
97  28CDbC0dFe4b1Db         Ortegaland             Solomon Islands
98  c23d1D9EE8DEB0A    Lake Elijahview                       Aruba
99  2354a0E336A91A1          Judymouth                    Honduras

[100 rows x 3 columns]

In [4]:
import pandas as pd
csv_3=pd.read_csv("C:\\Users\\Shristi\\OneDrive\\Desktop\\jupyter projects\\Python Pandas\\Downloaded Files\\industry.csv",skiprows=[1,2,4,6,8,10])
csv_3

                    Industry
0         Aerospace/Aviation
1                 Automotive
2       Business Development
3    Clerical/Administrative
4             Consumer Goods
5           Customer Service
6         Education/Training
7           Energy/Utilities
8                Engineering
9        Government/Military
10                     Green
11                Healthcare
12        Hospitality/Travel
13           Human Resources
14  Installation/Maintenance
15                 Insurance
16                  Internet
17           Job Search Aids
18  Law Enforcement/Security
19                     Legal
20      Management/Executive
21  Manufacturing/Operations
22                 Marketing
23      Non-Profit/Volunteer
24    Pharmaceutical/Biotech
25     Professional Services
26        QA/Quality Control
27               Real Estate
28   Restaurant/Food Service
29                    Retail
30                     Sales
31          Science/Research
32             Skilled Labor
33                Technology
34        Telecommunications
35  Transportation/Logistics
36                     Other

In [7]:
csv_4=pd.read_csv("C:\\Users\\Shristi\\OneDrive\\Desktop\\jupyter projects\\Python Pandas\\Downloaded Files\\customers-100.csv",index_col="Customer Id")
csv_4

,Index,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
Customer Id,,,,,,,,,,,
DD37Cf93aecA6Dc,1,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1Ef7b82A4CAAD10,2,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
6F94879bDAfE5a6,3,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
5Cef8BFA16c5e3c,4,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
053d585Ab6b3159,5,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...
cb8E23e48d22Eae,96,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
CeD220bdAaCfaDf,97,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
28CDbC0dFe4b1Db,98,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
c23d1D9EE8DEB0A,99,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
2354a0E336A91A1,100,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/